.Search input{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border: none;
    outline: none;
    width: 50%;
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;
    font-size: 0.7rem;
    color: #23436c;
    font-size: 1rem;
    opacity: 0.7;
}

.Search input::placeholder {
    color: #426696;
    opacity: 0.6;
}
